@font-face {
  font-family: "PTSerif";
  src: url("../fuentes/PTSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PTSerif";
  src: url("../fuentes/PTSerif-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "PTSerif";
  src: url("../fuentes/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: 300;
}
body {
  background-color: rgb(229, 230, 217);
  font-family: "PTSerif";
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "PTSerif";
  font-weight: 700;
}
p {
  font-family: "PTSerif";
  font-weight: 300;
}
